<div class="panel panel-primary">
    <div class="panel-heading">{{pageTitle}}</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2" class="acme-row filter">Filter by:</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)] = 'listFilter' />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" class="acme-row filter">
                <h3>Filtered by: {{listFilter}}</h3>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" *ngIf="products && products.length">
                <thead>
                    <tr>
                        <th>
                            <button type="button" class="btn btn-primary" (click)=toggleImage($event)>Show Images</button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of filteredProducts">
                        <th><img *ngIf=isImageDisplayed [src]="product.imageUrl" [title]="product.productName" class="acme-product-image" /></th>
                        <th>{{product.productName}}</th>
                        <th>{{product.productCode | lowercase | convertToSpace: '-'}}</th>
                        <th>{{product.releaseDate}}</th>
                        <th>{{product.price | currency: 'USD': true: '1.2-2'}}</th>
                        <th>
                            <pm-star [rating]="product.starRating" (ratingEmitter)="onRatingClick($event)"></pm-star>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>